body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  text-align: left;
}
/* .movie {
  text-align: left;
} */
.movie img {
  float: left;
  width: 50px;
  height: auto;
}
.movie ul {
  margin-left: 20px;
}
.movie-details {
  text-align: left;
}
