span.title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fbbd61
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.movie-tabs {
  text-align: left;
  margin-bottom:40px;
  padding-bottom:40px;
  border-bottom:1px solid #d8d8d8;
}
.movie-tabs:last-child {
  margin-bottom:0;
  padding-bottom:0;
  border-bottom:none
}
.movie-tabs img{
  border-radius:10px
}
.movie-tabs h4 {
  line-height: 0.90em;
  color: #ec7532; 
}
.movie-tabs h4 small {
  color: #4a4a4a;
  font-size: 0.60em; 
}
.movie-tabs span.title{
  color:#ec7532;
  margin-bottom: 0;
}
.movie-tabs .short-info {
  font-size: 14px;
  color:#ec7532;
}
.movie-tabs .short-info .detail {
  display:inline-block;
  margin-right:15px;
}
.movie-tabs .viewing-times {
  font-size:12px;
  letter-spacing:1.5px;
  text-transform:uppercase;
  color:#4a4a4a;
}
.movie-tabs .viewing-times {
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}
.movie-tabs .date .time {
  font-size: 14px;
  display: inline-block;
  /* letter-spacing: 2px; */
  color: #717171;
  background-color: #d8d8d8;
}
/* .movie-tabs .showtime.past{
  opacity:.5
} */
.movie-tabs .running-time {
  font-size:12px;
  text-align:right;
  letter-spacing:1.5px;
  text-transform:uppercase;
}
.movie-tabs .certificate{
  font-size:13px;font-weight:700;line-height:33px;display:inline-block;width:33px;height:33px;margin-left:5px;text-align:center;letter-spacing:0;color:#fff;border-radius:50%;background:#4a4a4a
}