span.title {
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fbbd61;
}
.event-tabs {
  text-align: left;
  margin-bottom:40px;
  padding-bottom:40px;
  border-bottom:1px solid #d8d8d8;
}
.event-tabs:last-child {
  margin-bottom:0;
  padding-bottom:0;
  border-bottom:none
}
.event-tabs img{
  border-radius:10px
}
.event-tabs h4 {
  line-height: 0.90em;
  color: #ec7532; 
}
.event-tabs h4 small {
  color: #4a4a4a;
  font-size: 0.60em; 
}
.event-tabs span.title{
  color:#ec7532;
  margin-bottom: 0;
}
.event-tabs .short-info {
  font-size: 14px;
  color:#ec7532;
}
.event-tabs .short-info .detail {
  display:inline-block;
  margin-right:15px;
}
.event-tabs .viewing-times {
  font-size:12px;
  letter-spacing:1.5px;
  text-transform:uppercase;
  color:#4a4a4a;
}
.event-tabs .viewing-times {
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}
.event-tabs .date .time {
  font-size: 14px;
  display: inline-block;
  /* letter-spacing: 2px; */
  color: #717171;
  background-color: #d8d8d8;
}
/* .event-tabs .showtime.past{
  opacity:.5
} */
.event-tabs .running-time {
  font-size:12px;
  text-align:right;
  letter-spacing:1.5px;
  text-transform:uppercase;
}
.event-tabs .certificate{
  font-size:13px;font-weight:700;line-height:33px;display:inline-block;width:33px;height:33px;margin-left:5px;text-align:center;letter-spacing:0;color:#fff;border-radius:50%;background:#4a4a4a
}
.reviewListItem {
  border:1px solid rgba(236, 117, 50, 0.45);
  border-radius: 5px;
  box-shadow: 0 0 15px #d8d8d8;
  text-align: center;
}
.reviewListItem .short-info {
  margin-top:5px;
}
.reviewListItem img {
  float: left;
  margin-right: 5px;
}
.reviewListItem .date li {
  display: block;
  text-align: center;
}
.reviewListItem .date li b {
  display: block;
  text-align: center;
}

@media (max-width: 574px) {
  .event-tabs h4 {
    text-align: center;
    margin-top: 15px;
  }
  .eventPoster {
    width: 65%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .reviewListItem {
    width: 40%;
  }
  .reviewListItem img {
    width: 40%;
  }
}

@media (min-width: 575px) {
  .reviewListItem {
    width: 45%;
  }
  .reviewListItem img {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .reviewListItem {
    width: 31%;
  }
  .reviewListItem img {
    width: 40%;
  }
}

@media (min-width:320px) and (max-width:480px) {
  .event-tabs {
    text-align: center;
    margin-top: 15px;
  }
  .event-tabs h4 {
    margin-top: 15px;
  }
  .event-tabs .overview {
    text-align: left
  }
  .reviewListItem {
    width: 75%;
  }
  .reviewListItem img {
    display: block;
    width: 50%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .date li {
    display: block;
    text-align: center;
  }
  .date li b {
    display: block;
    text-align: center;
  }
}